<div class="page-container  ">
    <div class="container add-cocktail text-center">
        <div class="title-new-cocktail">
          <h3>New Cocktails</h3>
        </div>
          <%= form_for(@cocktail) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <div class="btn btn-ghost">
            <%= f.submit%>
            </div>
          <% end %>
          <%= link_to "All Cocktails", cocktails_path, class: "btn btn-ghost"%>
    </div>
</div>
